table {
    border-style: inset;
    border-collapse: collapse;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

td {
    border-style: inset;
    border-collapse: collapse;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

thead>tr {
    position: relative;
    display: block;
  }

#tablehead {
    border-style: inset;
    border-collapse: collapse;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  tbody {
    display: block;
    height: 200px;
    overflow: auto;
  }

  

h1 {
    text-align: center;
}

#cpilink:hover {
    cursor: pointer;
}

#importantlink:hover {
    cursor: pointer;
}

#graph {
    color: black;
    text-decoration: underline;
}

#chart {
    color: black;
    text-decoration: underline;
}

#importantlink {
    color: blue;
    text-decoration: underline;
}

#cpilink {
    color: blue;
    text-decoration: underline;
}

#cpiimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

#cpiimage:hover {
    cursor: pointer;
}
