table, th, td {
    border-style: inset;
    border-collapse: collapse;
    width: 250px;
  }

h1 {
    text-align: center;
}
h3:hover {
    cursor: pointer;
}
h3 {
    color: blue;
    text-decoration: underline;
}