table {
    border-style: inset;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    box-shadow:  0 0 10px 0px rgba(0,0,0,0.6);
  }

td {
    border-style: inset;
    border-collapse: collapse;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

thead>tr {
    position: relative;
    display: block;
  }

tbody {
    display: block;
    height: 200px;
    overflow: auto;
  }
  
tr:hover {
    background-color: blue;
    color: white;
}

thead {
    background-color: forestgreen;
    color: white;
}

h1 {
    text-align: center;
}

#cpilink:hover {
    cursor: pointer;
}

#importantlink:hover {
    cursor: pointer;
}

#graph {
    color: black;
    text-decoration: underline;
}

#chart {
    color: black;
    text-decoration: underline;
}

#importantlink {
    color: blue;
    text-decoration: underline;
}

#cpilink {
    color: blue;
    text-decoration: underline;
}

#cpiimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    box-shadow:  0 0 10px 0px rgba(0,0,0,0.6);
}

#cpiimage:hover {
    cursor: pointer;
}

#search {
    margin: auto;
    display: block;
    border-style: solid;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

tr:nth-child(even):hover {
    background-color: blue;
    color: white;
}

html, body {
    width: 100%;
    height:100%;
  }

body {
background-color: #CBC3E3;
text-align: center;
}

#suprise {
    color: #CBC3E3;
}

#supriseimage {
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    box-shadow:  0 0 10px 0px rgba(0,0,0,0.6);
}